# Ignore all compiled Java class files
*.class

# Ignore Log files
*.log

# Ignore BlueJ files
*.ctxt

# Ignore Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore Package Files (Optional, but recommended)
*.jar
*.war
*.nar
*.ear
*.zip

# Ignore virtual machine crash logs
hs_err_pid*
